<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="locales" type="LocalesConfigHandler"/>
	</configSections>
	<locales>
		<locale language="en" country="" defaultCountry="US" name="en-US" booleanFormat="Yes;No;" zeroFormat="" nullFormat="" weekdayNarrowNames="S;M;T;W;T;F;S" encoding="utf-8"/>
		<locale language="vi" country="" defaultCountry="VN" name="vi-VN" booleanFormat="Có;Không;" zeroFormat="" nullFormat="" weekdayNarrowNames="CN;T2;T3;T4;T5;T6;T7" encoding="utf-8"/>
	</locales>
	<appSettings>
		<add key="defaultlanguage" value="en"/>
		<add key="domainname" value="localhost"/>
    <add key="LegoWebFilesPhysicalPath" value="D:\CodePlexSubmit\LegoWebRelease\LegoWebFiles\"/>
		<add key="LegoWebFilesVirtuaPath" value="http://HDCLAB/LegoWebFiles/"/>
		<add key="FCKEditorEnableCKFinder" value="True"/>
	</appSettings>
	<connectionStrings>
		<remove name="LEGOWEBDB"/>
		<remove name="LocalSqlServer"/>
    <add name="LEGOWEBDB" connectionString="Data Source=localhost;Initial Catalog=LEGOWEBDB;uid=sa;password=hdclab;" providerName="System.Data.SqlClient"/>
    <add name="LocalSqlServer" connectionString="Data Source=localhost;Initial Catalog=LEGOWEBDB;uid=sa;password=hdclab;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms name=".AuthCookie" loginUrl="~/login.aspx" protection="All"/>
		</authentication>
		<!--<machineKey validationKey="395BB0DAFA02BA520EDB43E7EDF06BBFD72FC13A5209243270539E01074B0EA4" decryptionKey="037D2C9D97979D8D810F4A6A2B9337BD181F32167735F2E0" validation="SHA1"/>-->
		<membership>
			<providers>
				<clear/>
				<add connectionStringName="LocalSqlServer" applicationName="LEGOWEB" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="True" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="5" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</membership>
		<!-- Configure the Sql Role Provider -->
		<roleManager enabled="true" defaultProvider="SqlRoleProvider">
			<providers>
				<add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LocalSqlServer" applicationName="LEGOWEB"/>
			</providers>
		</roleManager>
		<webParts>
			<personalization defaultProvider="SqlPersonalizationProvider">
				<providers>
					<add name="SqlPersonalizationProvider" type="System.Web.UI.WebControls.WebParts.SqlPersonalizationProvider" connectionStringName="LocalSqlServer" applicationName="LEGOWEB"/>
				</providers>
				<authorization>
					<allow verbs="enterSharedScope" roles="WEBMASTERS"/>
				</authorization>
			</personalization>
		</webParts>
		<authorization>
			<allow roles="ADMINISTRATORS,WEBEDITORS"/>
			<deny users="*"/>
		</authorization>
    <pages theme="legoweb"></pages>
	</system.web>
	<system.codedom>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    
	<system.webServer>
	</system.webServer>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="SectionDataProviderAspNetAjaxBehavior">
					<enableWebScript/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<services>
			<service name="SectionDataProvider">
				<endpoint address="" behaviorConfiguration="SectionDataProviderAspNetAjaxBehavior" binding="webHttpBinding" contract="SectionDataProvider"/>
			</service>
		</services>
	</system.serviceModel>
  
  -->
</configuration>
