
    <div>
        <p></p>
        <ul>
            <li>Sau khi đăng ký bạn có thể tham gia diễn đàn của Công ty Hiện Đại và phải tuân thủ các qui định sau:
                <ul>
                    <li>Không được gửi những bài viết có nội dung không cho phép theo qui định của pháp luật.</li>
                    <li>Không gửi các bài viết công kích, thóa mạ lẫn nhau</li>
                    <li>Không gửi bài hoặc hình ảnh có nội dung thô tục, khiêu dâm.</li>
                </ul>            
            </li>
        </ul>
    </div>


