/*joomla element-box single solid 1px round border box*/
/*t - top, b - bottom, m - main*/
div#element-box div.t
{
  height: 6px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
div#element-box div.b
{
  height: 6px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
div#element-box div.m 
{  
  padding: 5px 5px 5px 5px;
  background: #fbfbfb;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

div#element-box{
  background: #fbfbfb;
}

div#element-box div.t {
  background: url(images/boxs/j_border.png) 0 0 repeat-x;
}

div#element-box div.t div.t {
   background: url(images/boxs/j_crn_tr_light.png) 100% 0 no-repeat;
}

div#element-box div.t div.t div.t {
   background: url(images/boxs/j_crn_tl_light.png) 0 0 no-repeat;
}

div#element-box div.b {
  background: url(images/boxs/j_border.png) 0 100% repeat-x;
}

div#element-box div.b div.b {
   background: url(images/boxs/j_crn_br_light.png) 100% 0 no-repeat;
}

div#element-box div.b div.b div.b {
   background: url(images/boxs/j_crn_bl_light.png) 0 0 no-repeat;
}

/*end joomla single solid 1px round border box*/


/*joomla blue-element-box single solid 1px round border box*/
/*t - top, b - bottom, m - main*/
div#blue-element-box div.t
{
  height: 5px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
div#blue-element-box div.b
{
  height: 5px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
div#blue-element-box div.m 
{  
  padding: 5px 10px 5px 10px;
  background: #fbfbfb;
  border-left: 1px solid #CADCEF;
  border-right: 1px solid #CADCEF;
}

div#blue-element-box{
  background: #fbfbfb;
}

div#blue-element-box div.t {
  background: url(images/boxs/jb_top_center.JPG) 0 0 repeat-x;
}

div#blue-element-box div.t div.t {
   background: url(images/boxs/jb_top_right.JPG) 100% 0 no-repeat;
}

div#blue-element-box div.t div.t div.t {
   background: url(images/boxs/jb_top_left.JPG) 0 0 no-repeat;
}

div#blue-element-box div.b {
  background: url(images/boxs/jb_bottom_center.jpg) 0 100% repeat-x;
}

div#blue-element-box div.b div.b {
   background: url(images/boxs/jb_bottom_right.jpg) 100% 0 no-repeat;
}

div#blue-element-box div.b div.b div.b {
   background: url(images/boxs/jb_bottom_left.jpg) 0 0 no-repeat;
}
/*end joomla single solid 1px round border box*/


/* element box with grey title solid 1 px border with title box */
div#element-title-box 
{
	 position:relative;	
}
div#element-title-box div.title
{
  position: absolute; left: 5px; top: 3px; 
  font-family:Arial MS Serif Tahoma;
  font-weight:bold; 	
  font-size:medium;
  color:#9999CC;
  z-index:auto;
}
div#element-title-box div.t
{  
  height: 30px;
  padding: 0;
  margin: 0;
  overflow:visible;
}
div#element-title-box div.b
{
  height: 5px;
  padding: 0;
  margin: 0;
  overflow:visible;
}
div#element-title-box div.m 
{
  position :relative;
  padding: 6px 3px 10px 10px;
  border-left: 1px solid #ccccff;
  border-right: 1px solid #ccccff;
}

div#element-title-box div.t {
  background: url(images/boxs/g_top_center.JPG) 0 0 repeat-x;
}

div#element-title-box div.t div.t {
   background: url(images/boxs/g_top_right.JPG) 100% 0 no-repeat;
}

div#element-title-box div.t div.t div.t {
   background: url(images/boxs/g_top_left.JPG) 0 0 no-repeat;
}

div#element-title-box div.b {
  background: url(images/boxs/g_bottom_center.jpg) 0 100% repeat-x;
}

div#element-title-box div.b div.b {
   background: url(images/boxs/g_bottom_right.jpg) 100% 0 no-repeat;
}

div#element-title-box div.b div.b div.b {
   background: url(images/boxs/g_bottom_left.jpg) 0 0 no-repeat;
}

/*end element box with grey title solid 1 px border with title box */


/* element box with grey title with header line solid 1 px border with title box */
div#grey-header-title-box 
{
	 position:relative;	
}
div#grey-header-title-box div.title
{
  position: absolute; left: 5px; top: 3px; 
  font-family:Arial MS Serif Tahoma;
  font-weight:bold; 	
  font-size:medium;
  color:#9999CC;
  z-index:auto;
}
div#grey-header-title-box div.t
{  
  height: 30px;
  padding: 0;
  margin: 0;
  overflow:visible;
}
div#grey-header-title-box div.b
{
  height: 1px;
  padding: 0;
  margin: 1px;
  overflow:visible;
}
div#grey-header-title-box div.m 
{	
  position :relative;
  margin: 0px 1px 0px 1px;
  padding: 6px 3px 10px 10px;
  border-left: 1px solid #ccccff;
  border-right: 1px solid #ccccff;
  border-bottom: 1px solid #ccccff;
}

div#grey-header-title-box div.t {
  background: url(images/boxs/gt_top_center.JPG) 0 0 repeat-x;
}

div#grey-header-title-box div.t div.t {
   background: url(images/boxs/gt_top_right.JPG) 100% 0 no-repeat;
}

div#grey-header-title-box div.t div.t div.t {
   background: url(images/boxs/gt_top_left.JPG) 0 0 no-repeat;
}

/*
div#grey-header-title-box div.b 
{	
   background: url(images/boxs/gt_bottom_center.jpg) 0 100% repeat-x;
}
div#grey-header-title-box div.b div.b {
   background: url(images/boxs/gt_bottom_right.jpg) 100% 0 no-repeat;
}

div#grey-header-title-box div.b div.b div.b {
   background: url(images/boxs/gt_bottom_left.jpg) 0 0 no-repeat;
}
*/
/*end element box with grey title with header line solid 1 px border with title box */




/* silver gradient round border box */

div#silver-gradient-box div.t
{
  height: 6px;
  padding: 0;
  margin: 0;
  overflow:visible;
}
div#silver-gradient-box div.b
{
  height: 9px;
  padding: 0;
  margin: 0;
  overflow:visible;
}
div#silver-gradient-box div.m {
  padding: 5px 2px 5px 5px;
  background: url("images/boxs/s_body.jpg" ) repeat-x scroll left bottom transparent;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

div#silver-gradient-box div.t {
  background: url(images/boxs/s_top_center.JPG) 0 0 repeat-x;
}

div#silver-gradient-box div.t div.t {
   background: url(images/boxs/s_top_right.JPG) 100% 0 no-repeat;
}

div#silver-gradient-box div.t div.t div.t {
   background: url(images/boxs/s_top_left.JPG) 0 0 no-repeat;
}

div#silver-gradient-box div.b {
  background: url(images/boxs/s_bottom_center.jpg) 0 100% repeat-x;
}

div#silver-gradient-box div.b div.b {
   background: url(images/boxs/s_bottom_right.jpg) 100% 0 no-repeat;
}

div#silver-gradient-box div.b div.b div.b {
   background: url(images/boxs/s_bottom_left.jpg) 0 0 no-repeat;
}

/*end silver gradient round border box*/


/* steel blue gradient footer with title box */
div#blue-title-box 
{
	 position:relative;	
}
div#blue-title-box div.title
{
  position: absolute; left: 5px; top: 3px; 
  font-family:Arial MS Serif Tahoma;
  font-weight:bold; 	
  font-size:medium;
  color:#3399FF;
  z-index:auto;
}
div#blue-title-box div.t
{  
  height: 30px;
  padding: 0;
  margin: 0;
  overflow:visible;
}
div#blue-title-box div.b
{
  height: 17px;
  padding: 0;
  margin: 0;
  overflow:visible;
}
div#blue-title-box div.m 
{
  position :relative;
  padding: 6px 3px 10px 10px;
  border-left: 1px solid #CADCEF;
  border-right: 1px solid #CADCEF;
}

div#blue-title-box div.t {
  background: url(images/boxs/b_top_center.JPG) 0 0 repeat-x;
}

div#blue-title-box div.t div.t {
   background: url(images/boxs/b_top_right.JPG) 100% 0 no-repeat;
}

div#blue-title-box div.t div.t div.t {
   background: url(images/boxs/b_top_left.JPG) 0 0 no-repeat;
}

div#blue-title-box div.b {
  background: url(images/boxs/b_bottom_center.jpg) 0 100% repeat-x;
}

div#blue-title-box div.b div.b {
   background: url(images/boxs/b_bottom_right.jpg) 100% 0 no-repeat;
}

div#blue-title-box div.b div.b div.b {
   background: url(images/boxs/b_bottom_left.jpg) 0 0 no-repeat;
}

/*end steel blue gradient footer with title box */


/* blue header with title box */
div#blue-header-title-box 
{
	 position:relative;	
}
div#blue-header-title-box div.title
{
  position: absolute; left: 5px; top: 3px; 
  font-family:Arial MS Serif Tahoma;
  font-weight:bold; 	
  font-size:medium;
  color:White;
  z-index:auto;
}
div#blue-header-title-box div.t
{  
  height: 28px;
  padding: 0;
  margin: 0;
  overflow:visible;
}
div#blue-header-title-box div.b
{
  height: 5px;
  padding: 0;
  margin: 0;
  overflow:visible;
}
div#blue-header-title-box div.m 
{
  position :relative;
  padding: 6px 3px 10px 10px;
  border-left: 1px solid #CADCEF;
  border-right: 1px solid #CADCEF;
}

div#blue-header-title-box div.t {
  background: url(images/boxs/bh_top_center.JPG) 0 0 repeat-x;
}

div#blue-header-title-box div.t div.t {
   background: url(images/boxs/bh_top_right.JPG) 100% 0 no-repeat;
}

div#blue-header-title-box div.t div.t div.t {
   background: url(images/boxs/bh_top_left.JPG) 0 0 no-repeat;
}

div#blue-header-title-box div.b {
  background: url(images/boxs/bh_bottom_center.jpg) 0 100% repeat-x;
}

div#blue-header-title-box div.b div.b {
   background: url(images/boxs/bh_bottom_right.jpg) 100% 0 no-repeat;
}

div#blue-header-title-box div.b div.b div.b {
   background: url(images/boxs/bh_bottom_left.jpg) 0 0 no-repeat;
}

/*end blue header with title box */


/*top round conner darkblue header title box */
div#darkblue-header-title-box 
{
	 position:relative;	
}
div#darkblue-header-title-box div.title
{
  position: absolute; left: 5px; top: 5px; 
  font-family:Arial MS Serif Tahoma;
  font-weight:normal; 	
  font-size:medium;
  color:white;
  z-index:auto;
}
div#darkblue-header-title-box div.t
{  
  height: 33px;
  padding: 0;
  margin: 0;
  overflow:visible;
}
div#darkblue-header-title-box div.b
{
  height: 1px;
  padding: 0;
  margin: 1px;
  overflow:visible;
}
div#darkblue-header-title-box div.m 
{	
  position :relative;
  padding: 6px 3px 10px 10px;
  border-left: 1px solid #0066FF;
  border-right: 1px solid #0066FF;
  border-bottom: 1px solid #0066FF;
}

div#darkblue-header-title-box div.t {
  background: url(images/boxs/db_top_center.JPG) 0 0 repeat-x;
}

div#darkblue-header-title-box div.t div.t {
   background: url(images/boxs/db_top_right.JPG) 100% 0 no-repeat;
}

div#darkblue-header-title-box div.t div.t div.t {
   background: url(images/boxs/db_top_left.JPG) 0 0 no-repeat;
}

/*
div#darkblue-header-title-box div.b 
{	
   background: url(images/boxs/db_bottom_center.jpg) 0 100% repeat-x;
}
div#darkblue-header-title-box div.b div.b {
   background: url(images/boxs/db_bottom_right.jpg) 100% 0 no-repeat;
}

div#darkblue-header-title-box div.b div.b div.b {
   background: url(images/boxs/db_bottom_left.jpg) 0 0 no-repeat;
}
*/
/*end top round conner darkblue header title box */