div#MenuLeftWrap
{
	position:relative;	
	float: left;
	width:100%;
 	max-width: 225px;
	height: auto;
	margin: 0;
	padding: 0px;
}
div#MenuLeftWrap div.title
{
  position: absolute; left: 20px; top: 12px; 
  font-family:Arial;
  font-size:10pt;
  font-weight:bold; 	
  font-size:medium;
  color:White;
  z-index:auto;
}
div#MenuLeftWrap div.t
{  
  height: 52px;
  padding: 0;
  margin: 0;
  overflow:visible;
}
div#MenuLeftWrap div.b
{
  height: 11px;
  padding: 0;
  margin: 0;
  overflow:visible;
}
div#MenuLeftWrap div.m 
{
	position :relative;
	padding: 0px;
}

div#MenuLeftWrap div.t {
  background: url(images/menutree/menu_header_mid.gif) 0 0 repeat-x;
}

div#MenuLeftWrap div.t div.t {
   background: url(images/menutree/menu_header_right.gif) 100% 0 no-repeat;
}

div#MenuLeftWrap div.t div.t div.t {
   background: url(images/menutree/menu_header_left.gif) 0 0 no-repeat;
}

div#MenuLeftWrap div.b {
  background: url(images/menutree/menu_footer_mid.jpg) 0 100% repeat-x;
}

div#MenuLeftWrap div.b div.b {
   background: url(images/menutree/menu_footer_right.jpg) 100% 0 no-repeat;
}

div#MenuLeftWrap div.b div.b div.b {
   background: url(images/menutree/menu_footer_left.jpg) 0 0 no-repeat;
}
#MenuLeftItems
{
    display: block;
	width:100%;
 	max-width: 225px;
    height:auto;
    float:left;
    padding:0px;
}
#menuitem ul 
{ 
	margin: 0; 
	padding: 0; 
	list-style: none;
	width:100%;
 	max-width: 225px;
	font-size: 12px;
	font-weight:bold;
	/*border-bottom: 1px solid #ccc; */
} 
#menuitem .active
{
    background: url("images/menutree/menu.gif") no-repeat scroll center top transparent;
    color: #0066B3;
}
#menuitem ul li.fly 
{
    position: relative;
    background: #E2ECF6;
}

#menuitem ul li 
{ 
	position: relative; 
	background-color:#E2ECF6;
    border-top:1px solid #FFFFFF;
	width:100%;
 	max-width: 225px;
    height:auto;
	/*border-bottom: 1px solid #ccc; */
} 

#menuitem li ul 
{ 
	position: absolute; 
	left: 225px; /*Set 1px less than menuitem width */ 
	top: 0; 
	display: block; 
} 

#menuitem li:hover ul 
{
	display: block; 
	visibility:visible; 
} 

#menuitem ul ul 
{
	visibility:hidden; 
} 

/* Fix IE. Hide from IE Mac \*/ 
* html #menuitem ul li { float: left; height: 1%; } 
* html #menuitem ul li a { height: 1%; } 
/* End */ 

/* Make-up syles */ 

#menuitem ul, li { 
	margin: 0 0 0 0; 
} 

/* Styles for menuitem Items */ 
#menuitem ul li a
{
    display: block;
    overflow: auto; /*force hasLayout in IE7 */
    color: #333333;
    text-decoration: none;
    padding: 6px 6px 6px 25px;
}

#menuitem ul li a:link, 
#menuitem ul li a:visited, 
#menuitem  ul li a:active
{
    background:url('images/menutree/frog_arrow.gif') no-repeat scroll left top ;
}
/* Sub Menu Styles */ 
#menuitem  ul li a:hover
{
    background: url("images/menutree/menu.gif") no-repeat scroll right top transparent;
    color: #0066B3;
}
#menuitem li ul a { 
	text-decoration: none; 
	color: #333333; 
	padding: 5px; 
	
} 




